<div class="container">

    <hr color="#ff0080;">
    <h1 style="color: #ff0080;">Lápices</h1>
    <div class="container">
        <button class="btn btn-primary" [routerLink]="['/lapiz/crear']">Agregar Producto</button>
    </div>
    <hr color="#ff0080">



    <div class="container col-lg-12">
        <div class="card-columns">
            <div class="card  " *ngFor="let lapiz of lapices; let i = index">
                <img class="card-img-top img-fluid" src="/assets/img/sinfoto.png" alt="">
                <div class="card-block">
                    <h4 class="card-title text-center">{{lapiz.producto.nombre}}</h4>
                    <p class="card-text text-center">Color: {{lapiz.color}}</p>
                    <p class="card-text text-center"> Precio: $ {{lapiz.producto.precio}}</p>
                    <p class="card-text text-center"> Tipo de Punta: {{lapiz.tipopunta.nombre}}</p>



                    <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['detalle',i]">Comprar</button>
                </div>

            </div>


        </div>

    </div>
</div>