<div class="container mt-5">

    <h1 style="color: #ff0080;">Configuración</h1>
    <hr color="#ff0080">

    <div class="row row-cols-1 row-cols-md-3  align-content-center">
        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Agenda</h5>
                    <button class="btn btn-outline-info">Crear</button>
                    <button class="btn btn-outline-info">Listar</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Cuaderno</h5>
                    <button class="btn btn-outline-info">Crear</button>
                    <button class="btn btn-outline-info">Listar</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Flashcard</h5>
                    <button class="btn btn-outline-info" [routerLink]="['flashcard/crear']">Crear</button>
                    <button class="btn btn-outline-info" [routerLink]="['/flashcard']">Listar</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Lápiz</h5>
                    <button class="btn btn-outline-info" [routerLink]="['lapiz/crear']">Crear</button>
                    <button class="btn btn-outline-info" [routerLink]="['/lapiz']">Listar</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Planificador</h5>
                    <button class="btn btn-outline-info">Crear </button>
                    <button class="btn btn-outline-info">Listar</button> </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card h-100">
                <p>
                    <img src="./assets/img/logo.jpeg" class="card-img-top " alt="100" style="height: 100px; width: auto;">
                </p>
                <div class="card-body">
                    <h5>Producto</h5>
                    <button class="btn btn-outline-info" [routerLink]="['/producto/crear']">Crear </button>
                    <button class="btn btn-outline-info">Listar</button> </div>
            </div>
        </div>
    </div>




</div>
