<hr color="#ff0080">
<div class="container">
    <h1 style="color: #ff0080;">Diseña Tu Flash Cards</h1>
    <hr color="#ff0080">
    <div class="container col-lg-12">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top img-fluid" src="{{ 'http://127.0.0.1:8000/'+flashcard.producto.img }}" width="50" height="50" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title text-center">{{flashcard.producto.nombre}}</h4>
                        <p class="card-text text-center"> Precio: $ {{flashcard.producto.precio}}</p>
                        <p class="card-text text-center"> Cantidad de Hojas: {{flashcard.cantidad_hojas}}</p>
                        <p class="card-text text-center"> Largo: {{flashcard.largo}} {{flashcard.unidad_medida}}</p>
                        <p class="card-text text-center"> Ancho: {{flashcard.ancho}} {{flashcard.unidad_medida}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 1000px;">

            <div class="col">
                <div class="card-body">

                    <form (ngSubmit)="guardar(l)" #l="ngForm">
                        <div class="row">
                            <div class="col">
                                <label class="col-form-label col-sm-5">Tipo Linea</label>
                                <div class="col-sm-5"></div>
                                <select class="form-control" [(ngModel)]="configuracionFlashCard.TipoFlashCard_id" #TipoFlashCard_id="ngModel" name="TipoFlashCard_id">
                                <option  *ngFor="let tipoLinea of tipoLineas,let i=index;" [value]="tipoLinea.id">{{tipoLinea.nombre}}</option>
                              </select>
                                <label class="col-form-label col-sm-5">Color Rgb</label>
                                <input [(ngModel)]="configuracionFlashCard.colorrgb" #colorrgb="ngModel" name="colorrgb" class="form-control" placeholder="ingrese el color rgb" type="color">
                            </div>
                            <div class="col">
                                <label class="col-form-label col-sm-5">Nombre</label>
                                <input [(ngModel)]="diseno.nombre" #nombre="ngModel" name="nombre" class="form-control" placeholder="Escribe el nombre de tu Diseño" type="text">
                                <label class="col-form-label col-sm-5">Diseño</label>
                                <input [(ngModel)]="diseno.path" #path="ngModel" name="path" type="text" class="form-control" placeholder="Sube tu diseño">
                                <br>
                            </div>
                            <div class="col">
                                <label class="col-form-label col-sm-5">Cantidad</label>
                                <input [(ngModel)]="detallePedido.cantidad" #cantidad="ngModel" name="cantidad" class="form-control" placeholder="ingrese la cantidad del producto" type="number">
                                <br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>