<div class="container mt-5 col-7 ">
    <div class="card text-center ">
        <div class="card-body " style="background-color: white ; border-color: #ff0080;">

            <form class="form-signin">
                <img class="mb-4" src="./assets/img/logo.jpeg" alt="" width="72" height="72">
                <p>Crea una cuenta con nosotros para que puedas<br>comprar nuestros productos exclusivos y seas<br> un Chinicliente.</p>
                <div class="container">
                    <input type="email" id="inputEmail" class="form-control text-center  col-6" placeholder="Email" required autofocus>
                </div>
                <div class="container">
                    <input type="password" id="inputPassword" class="form-control text-center col-6 align-content-center mt-2" placeholder="Contraseña" required>
                </div>
                <div class="checkbox mb-3 mt-3">
                    <label>
                      <input type="checkbox" value="recordar"> Recordarme
                      </label>
                </div>
                <div>
                    <button class="btn  btn-primary btn-block col-6" style="background-color: #ff0080; border: white;" type="submit">Ingresar</button>

                </div>
                <label for="" class="mt-3">¿Olvidaste tu Contraseña?</label> <br>
                <a>Registrarse</a>
                <p class="mt-5 mb-3 text-muted">&copy; 2020</p>



            </form>

        </div>

    </div>
</div>
