<hr color="#ff0080">
<div class="container">
    <h1 style="color: #ff0080;">Flash Cards</h1>
    <hr color="#ff0080">
    <div class="container col-lg-12">
        <div class="card-columns">
            <div class="card" *ngFor="let flashCard of flashCards; let i = index">
                <img class="card-img-top img-fluid" src="/assets/img/sinfoto.png" alt="">
                <div class="card-block">
                    <h4 class="card-title text-center">{{flashCard.producto.nombre}}</h4>
                    <p class="card-text text-center"> Precio: $ {{flashCard.producto.precio}}</p>
                    <p class="card-text text-center"> Catnidad de Hojas: {{flashCard.cantidad_hojas}}</p>
                    <p class="card-text text-center"> Largo: {{flashCard.largo}} {{flashCard.unidad_medida}}</p>
                    <p class="card-text text-center"> Ancho: {{flashCard.ancho}} {{flashCard.unidad_medida}}</p>
                    <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['diseñar', flashCard.id]">Diseñar</button>
                </div>
            </div>
        </div>
    </div>
</div>
